node_modules
.anchor
target/debug
target/release
target/sbf-solana-solana
target/deploy/*.json
**/*.rs.bk
app/node_modules
app/android
app/ios
app/.expo
app/dist
*.keystore
.env
target/*
!target/idl/
!target/deploy/
target/deploy/*.json
scripts/ore-layout/target/
scripts/ore-layout.json.checked
